
@using TaskAdminApi.Models
@{
    ViewBag.Title = Model.Client_Name;
}

<table class="table">

    <tr><td>Наименование клиента:</td></tr>

    <tr>
        <td>@Model.Client_Name</td>
        

        <td>
            <ul>
                @foreach (var c in Model.Services)
                {

                    <li>@c.Service_Name</li>

                }
            </ul>
        </td>
    </tr>

</table>