@model TaskAdminApi.Models.Client
@using TaskAdminApi.Models
@{
    ViewBag.Title = "Редактирование клиента";
}
<form asp-action="ClientEdit" asp-controller="client" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Client_Name" class="control-label"></label>
        <input type="text" asp-for="Client_Name" class="form-control" />
        <span asp-validation-for="Client_Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Client_Contact_Person" class="control-label"></label>
        <input type="text" asp-for="Client_Contact_Person" class="form-control" />
        <span asp-validation-for="Client_Contact_Person" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Client_Contact_Phone" class="control-label"></label>
        <input type="tel" asp-for="Client_Contact_Phone" class="form-control" />
        <span asp-validation-for="Client_Contact_Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Client_Contact_Email" class="control-label"></label>
        <input type="tel" asp-for="Client_Contact_Email" class="form-control" />
        <span asp-validation-for="Client_Contact_Email" class="text-danger"></span>
    </div>

    @*Сделать в виде таблицы/ услуга, время статус оплаты и статус выполнения*@
    <div class="editor-label"><b>Выбор задач:</b></div>
    @foreach (var t in ViewBag.Services)
    {
        <input type="checkbox" name="selectedServices" value="@t.Id"
               @(Model.Services.Contains(t) ? "checked=\"checked\"" : "") /> @t.Service_Name <br />
        }


    <div class="form-group">
        <input type="submit" value="Сохранить" />
    </div>


</form>
