@model TaskAdminApi.Models.Client
@using TaskAdminApi.Models
@{
    ViewBag.Title = "Добавление нового клиента";
}
<form asp-action="CreateClient" asp-controller="client">
    <div class="form-group p-1">
        <label asp-for="Client_Name" class="control-label p-1"></label>
        <input type="text" asp-for="Client_Name" class="form-control" />
        <span asp-validation-for="Client_Name" class="text-danger"></span>
    </div>

    <div class="form-group p-1">
        <label asp-for="Client_Contact_Person" class="control-label p-1"></label>
        <input type="text" asp-for="Client_Contact_Person" class="form-control" />
        <span asp-validation-for="Client_Contact_Person" class="text-danger"></span>
    </div>
    <div class="form-group p-1">
        <label asp-for="Client_Contact_Phone" class="control-label p-1"></label>
        <input type="text" asp-for="Client_Contact_Phone" class="form-control" />
        <span asp-validation-for="Client_Contact_Phone" class="text-danger"></span>
    </div>
    <div class="form-group p-1">
        <label asp-for="Client_Contact_Email" class="control-label p-1"></label>
        <input type="text" asp-for="Client_Contact_Email" class="form-control" />
        <span asp-validation-for="Client_Contact_Email" class="text-danger"></span>
    </div>
    <div class="form-group p-1">
        <input class="btn btn-outline-dark" type="submit" value="Сохранить" />
    </div>

</form>
