@model TaskAdminApi.Models.Service
@using TaskAdminApi.Models
@{
    ViewBag.Title = "Добавление новой услуги";
}
<form asp-action="CreateService" asp-controller="service">
    <div class="form-group">
        <label asp-for="Service_Name" class="control-label"></label>
        <input type="text" asp-for="Service_Name" class="form-control" />
        <span asp-validation-for="Service_Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Service_Description" class="control-label"></label>
        <input type="text" asp-for="Service_Description" class="form-control" />
        <span asp-validation-for="Service_Description" class="text-danger"></span>
    </div>




    <input type="checkbox" name="selectedTime" value="true"/>Исчислять время услуги в минутах <br />

        <div class="form-group">
            <input type="submit" value="Сохранить" />
        </div>




    </form>